header {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
}

.header-logo {
  color: #42ea20;
  padding-right: 7%;
  text-decoration: none;
}

.header-item {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
  padding: 1rem;
}

.header-item:hover {
  color: aquamarine;
  font-size: 23px;
}