header {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: space-evenly;
  height: 5vh;
  width: 100vw;
}

header i {
  color: #FFFFFF;
  text-decoration: none;
}

.logo {
  color: #FFFFFF;
  text-decoration: none;
}